/* Virtual environment */
venv

/* Cache */
__pycache__

/* DB */
*.sqlite3

/* Curency Calculate */
Curency_Calculate/Curency_Calculate/Curency_Calculate/data.py

/* Weather App */
WeatherApp/project/project/secret.py

/* Lsp server */
lsp_server
