{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="header">
    <div id="information">
        <p>
            <span><strong>Kematin</strong></span>
            <a href="{% url 'index' %}">Main page</a>
            <a href="{% url 'index' %}">Info</a>
            <a class="btn btn-primary" href="https://openweathermap.org/current#other" role="button">Documentation</a>
        </p>
    </div>
</div>

<div id="footer">
    <div id="find_information">
        <h1>Weather in your city</h1>
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <p>City: </p>
            <div id="city_form">{{ city_form }}</div>
            <div id="button-submit"><input type="submit" value="Find" class="btn btn-outline-success"></div>
        </form>
    </div>

    <div id="display_information">
        <h1>Info about your city</h1>
        <div class="display-content">
            <div class="display-image">
                <img src="{% static '' %}img/{{ info.icon }}.ico" alt="{{ icon }}">
            </div>
            <div class="display-text">
                <p>
                    City: <b>{{ info.city }}</b><br>
                    Temperature: <b>{{ info.t }} °C</b>
                </p>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
