{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Curency Converter</title>
    <link rel="stylesheet" href="{% static 'calculate/style.css' %}">
</head>
<body>
    <div id="header">
        <p>Currency Converter</p>
    </div>
    <div id="footer">
        <div id="main_block">
            <p>Amount to Convert:</p>
            <form method="post" action="{% url 'index' %}">
                {% csrf_token %}
                <div id="form"><p>{{ form }}</p></div>
                <input type="submit" value="Convert">
            </form>
            <p>Giving {{ c_1 }} Get {{ c_2 }}</p>
            <p>{{ total }} {{ c_2 }}</p>
        </div>
    </div>    
</body>
</html>
