.Btn {
  padding: 10px;
  margin: 5px;
  background-color: transparent;
  border: 2px solid gray;
  border-radius: 4px;
  color: black;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.Btn:hover {
  border: 2px solid black;
}